.app .body {
  width: 1012px !important;
  margin: 0 auto;
  position: relative;
  padding-top: 50px;
}

.sidebar {
  width: 150px;
  float: left;
  margin: 0;
  background-color: #FFF;
  margin: 15px 0px;
  padding: 10px;
}
