.input-group-text {
  width: 100%;
  margin-bottom: 10px;
  background-color: #FFF;
}
.answers {
  display: block;
}

form {
  padding: 10px;
  background-color: #4267b2;
  border-radius: 10px;
  margin-bottom: 20px;
}

.answer {
  width: 100%;

  textarea {
    width: auto;
  }
}

.dates > input {
  display: inline;
  width: auto;
  margin-right: 10px;
}

.option {
  background-color: #EEE;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
