$themePrimaryColor: "[theme: themePrimary, default: #00d450]";
$themeLighterAltColor: "[theme: themeLighterAlt, default: #f3fdf7]";
$themeLighterColor: "[theme: themeLighter, default: #d0f8e0]";
$themeLightColor: "[theme: themeLight, default: #a9f2c5]";
$themeTertiaryColor: "[theme: themeTertiary, default: #5ce590]";
$themeSecondaryColor: "[theme: themeSecondary, default: #1ad963]";
$themeDarkAltColor: "[theme: themeDarkAlt, default: #00be49]";
$themeDarkColor: "[theme: themeDark, default: #00a13e]";
$themeDarkerColor: "[theme: themeDarker, default: #00772d]";
$neutralLighterAltColor: "[theme: neutralLighterAlt, default: #f8f8f8]";
$neutralLighterColor: "[theme: neutralLighter, default: #f4f4f4]";
$neutralLightColor: "[theme: neutralLight, default: #eaeaea]";
$neutralQuaternaryAltColor: "[theme: neutralQuaternaryAlt, default: #dadada]";
$neutralQuaternaryColor: "[theme: neutralQuaternary, default: #d0d0d0]";
$neutralTertiaryAltColor: "[theme: neutralTertiaryAlt, default: #c8c8c8]";
$neutralTertiaryColor: "[theme: neutralTertiary, default: #c2c2c2]";
$neutralSecondaryColor: "[theme: neutralSecondary, default: #858585]";
$neutralPrimaryAltColor: "[theme: neutralPrimaryAlt, default: #4b4b4b]";
$neutralPrimaryColor: "[theme: neutralPrimary, default: #333]";
$neutralDarkColor: "[theme: neutralDark, default: #272727]";
$blackColor: "[theme: black, default: #1d1d1d]";
$whiteColor: "[theme: white, default: #fff]";
$bodyBackgroundColor: "[theme: bodyBackground, default: #fff]";
$bodyTextColor: "[theme: bodyText, default: #333]";
